body{
  font-family: 'Hiragino Kaku Gothic ProN','Yu Gothic','Meiryo', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f7f9f6;
  margin: 0;
  padding: 0;
}

main, section,  header, footer, nav{
  padding: 20px;
}

header{
  background-color: rgb(40, 105, 75);
  padding: 20px;
  color: #fff;
  text-align: center;
}

header p{
  font-style: italic;
}

nav{
  text-align: center;
}

nav ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav li{
  margin-right: 15px;
}

nav a{
  text-decoration: none;
  color: #fff;
}

nav a:hover{
  font-weight: bold;
  color: khaki;
  cursor: pointer;
} 

section{
  text-align: center;
}

section h2{
  color:  rgb(40, 105, 75);
  border-bottom: 2px solid rgb(40, 105, 75);
  padding-bottom: 5px;
  width: fit-content;
  margin: auto;
}

img{
  border-radius: 24px;
  max-width: 100%;
  width: 400px;
  height: 400px;
  margin: 16px 0;
  border: 1px solid lightgray;
}

.menu-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap; 
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  cursor: pointer;
  
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 24px; 
  overflow: hidden;
  margin-bottom: 20px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.menu-label {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin: 0;
}

.menu-item:hover {
  transform: translateY(-8px);
  filter: drop-shadow(0 12px 20px rgba(0, 0, 0, 0.15));
}

.contact-container {
  background-color: #f7f9f6; 
  padding: 60px 20px;
  min-height: 100vh;
  box-sizing: border-box;
}


.contact-title {
inherits: color;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-group {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 8px;
}


.form-group label {
  font-size: 0.95rem;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
}

.form-group textarea {
  resize: vertical;
  min-height: 120px;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background-color:#f7f9f6;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid lightgray;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s ease;
}

.submit-btn:hover {
  background-color: #334d38; 
  color: #fff;
}

footer{
  background-color:  rgb(40, 105, 75);
  color: #fff;
  text-align: center;
  font-size: small;
}
