body{
  font-family: 'Hiragino Kaku Gothic ProN','Yu Gothic','Meiryo', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header{
  background-color: rgb(40, 105, 75);
  padding: 20px;
  color: #fff;
  text-align: center;
}

header p{
  font-style: italic;
}

nav{
  text-align: center;
}
nav ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav li{
  margin-right: 15px;
}

nav a{
  text-decoration: none;
  color: #fff;
}

nav a:hover{
  font-weight: bold;
  color: khaki;
  cursor: pointer;
} 

section{
  text-align: center;
}

main h2{
  color:  rgb(40, 105, 75);
  border-bottom: 2px solid rgb(40, 105, 75);
  width: fit-content;
  margin: auto;
}

img{
  border-radius: 16px;
  max-width: 100%;
  width: 200px;
  height: 200px;
  margin: 16px 0 32px;
}


button{
  cursor: pointer;
}

footer{
  background-color:  rgb(40, 105, 75);
  color: #fff;
  text-align: center;
  font-size: small;
}